.aboutSection{
  margin: auto;
  max-width: var(--max-width-main, 500px);
  text-align: center;
}

.aboutTitle {
  text-align: center;
  color: var(--primaryColor);  
  font-size: 32px;
}

.aboutp {
  max-width: 80%;
  font-size: 22px;
  margin: auto;
  margin-top: 1rem;
}