
.modalMain {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  text-align: center;
  --modal-primary: var(#089868, #21c389);
  --modal-secondary: var(#fff);
  --modal-hoover: var(#21c389);
}

.modalContainer {
  max-width: var(--max-width-game, 500px);
  background-color: #4D4C4B;
  border: 10px solid #F15249;
  border-radius: 10px;
  width: 80%;
  color: #fff;
}

.modalHeader {
  font-size: 28px;
  font-weight: 300;
}

.modalContent {
  font-size: 22px;
  line-height: 2rem;
  font-weight: 300;
  width: 85%;
  margin: auto;
}

.modalFooter {
  margin-top: 2rem;
  /* display: flex; */
}

.footerButton {
  display: block;
  margin: auto;
  border: none;
  font-size: 26px;
  border-radius: 20px;
  padding: 15px 20px;
  margin-bottom: 1rem;
}

.footerButton {
  display: block;
  font-size: 22px;
  text-decoration: none;
  /* color: #fff; */
  padding: 15px;
  /* background-color: var(--primaryColor); */
  border-radius: 20px;
  width: 80%;
  max-width: 400px;
  min-width: 200px;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footerButtonPrimary {
  background-color: var(--modal-primary, #089868);
  color: var(--modal-secondary, #fff);
}

.footerButtonPrimary:hover,
.footerButtonPrimary:focus {
  background-color: var(--modal-hoover);
  color: var(--modal-secondary, #fff);
  border: 1px solid var(--modal-primary, #089868);
}

.footerButtonSecondary {
  background-color: #fff;
  color: var(--modal-primary, #089868);
  border: 1px solid var(--modal-primary, #089868);
}

.footerButtonSecondary:hover,
.footerButtonSecondary:focus {
  color: var(--modal-secondary, #fff);
  background-color: var(--modal-hoover)
}

