.navbar {
  background: #4D4C4B;
  max-height: 136px;
  display: flex;
}

.web-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cobra-name {
  font-family: 'VT323', monospace;
  font-size: 42px;
  margin-left: 2rem;
}

.web-logo-link,
.web-logo-link:visited {
  display: block;
  margin: auto;
  color: #21c389;
  text-decoration: none;
}

.logo-codebra {
  width: 99px;
  min-width: 99px;
  display: block;
  margin: auto;
}

.link-list {
  list-style: none;
  display: none;
}
.link-item > a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.CTA-link {
  padding: 10px;
  background-color: #21c389;
  border-radius: 20px;
}