.StatisticsSection {
  margin: auto;
  max-width: var(--max-width-main, 500px);
}

.statisticsTitle {
  text-align: center;
  color: var(--primaryColor);  
  font-size: 32px;
}

.statisticsTable {
  border: 1px solid var(--primaryColor);
  border-spacing: 0px;
  margin: auto;
  text-align: center;
  width: 80%;
  max-width: 400px;
  min-width: 200px;
}

.statisticsTable th {
  border: 1px var(--primaryColor) solid;
  padding: 10px;
  font-size: 22px;
}

.statisticsTable td {
  border: 1px var(--primaryColor) solid;
  padding: 10px;
  font-size: 22px;
}

.statisticsPrimaryButton {
  display: block;
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem;
  border: 2px solid var(--primaryColor);
  border-radius: 10px;
  background-color: var(--background-color);
  color: var(--primaryColor);;
}

.statisticsPrimaryButton:hover,
.statisticsPrimaryButton:focus {
  background-color: #444;
}