@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=VT323&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #333;
  color: #21c389;
  margin: 0;
  font-family: 'Cairo', sans-serif;
  line-height: 2.5rem;
}

#snake-canvas {
  background: #fff;
  border: 20px solid #000;
}