@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=VT323&display=swap');

* {
  box-sizing: border-box;
}

body {
  --primaryColor: #21c389;
  --max-width-main: 800px;
  --max-width-game: 500px;
  background: #333;
  color: var(--primaryColor, #21c389);
  margin: 0;
  font-family: 'Cairo', sans-serif;
  line-height: 2.5rem;
  
}

#snake-canvas {
  background: #eee;
  border: 20px solid #000;
  display: block;
  margin: auto;
}